@import "button";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}




.blue{
    @include button-style(blue,skyblue,20px);
}

.red{
    @include button-style(red,blue,22px);
}

.yellow{
    @include button-style(darkgreen,yellow,25px);
}