*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';

}
html,body{
    height: 100%;
    width: 100%;

}
body{
    background-color: rgb(169, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    height: 480px;
    width: 320px;
    background-color: white;
    border-radius: 15px;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
}
#storiyan{
    height: 120px;
    width: 100%;
    
    border-bottom: 1px solid #dadada;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;



}
#storiyan ::-webkit-scrollbar{
    display: none;
}
.story{
    height: 90px;
    width: 90px;
    border: 3px solid red;
    border-radius: 50%;
    display:inline-block ;
    overflow: hidden;
    margin-right: 5px;
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    
}
#full-screen{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    display: none;
}