h1{
    background-color: rgb(221, 204, 204);
    font-size: 100px;
}
h2{
    background-color: rgb(179, 216, 204);
}
ul{
    background-color: cornflowerblue;
}
#first{
    background-color: rgb(180, 127, 127);
}
.third{
    background-color: chartreuse;
}
h1 , .fourth , #first{
    background-color: bisque;
}
h2{
    background-color: hsl(116,39% ,40%);
}
h1{
    font-size: 111px;
}
#name{
    font-style: italic;
}
li{
    font-size: 1en;
}
h2{
    font-size: 2vw;
}
li{
    font-size: 5vh;
}
li{
    font-size: 75%;
}
/*.container{
    background-color: aquamarine;
    display: flex;
    height: 500px;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
}

.box{
    height: 100px;
    width: 100px;
    margin: 5px;

}
.first{
    background-color: antiquewhite;
    flex-grow: 1;
}
.second{
    background-color: blue;
    flex-grow: 2;
}
.third{
    background-color: brown;
}
.fourth{
    background-color: rgb(215, 215, 25);
}*/